.selection {
    background-color: var(--mantine-color-blue-1);

    &:hover {
        background-color: var(--mantine-color-blue-0);
    }

    &:nth-of-type(even) {
        background-color: var(--mantine-color-blue-2);

        &:hover {
            background-color: var(--mantine-color-blue-1);
        }
    }
}

.active {
    background-color: var(--mantine-color-green-1);

    &:hover {
        background-color: var(--mantine-color-green-0);
    }

    &:nth-of-type(even) {
        background-color: var(--mantine-color-green-2);

        &:hover {
            background-color: var(--mantine-color-green-1);
        }
    }
}
