:root {
	--table-thead-color-bg: var(--color-slate-100);
	--table-thead-color-border: var(--color-slate-200);

	--table-th-color-border: var(--color-slate-300);

	--table-tr-color-border: var(--color-slate-200);
	--table-tr-color-bg: var(--color-white);

	--table-tr-odd-color-bg: var(--color-slate-50);

	--table-tr-hover-color-bg: var(--color-sky-100);
	--table-tr-hover-color-border: var(--color-sky-300);

	--table-select-color-text: var(--color-slate-400);
	--table-select-color-hover-text: var(--color-slate-600);

	--table-tr-selected-color-bg: var(--color-blue-100);
	--table-tr-selected-odd-color-bg: var(--color-blue-50);
	--table-tr-selected-color-border: var(--color-blue-300);
	--table-tr-selected-select-color-text: var(--color-slate-600);
}
