.pico--menu-group {
	--color-bg-hover: var(--pico--color-light-bg-hover);
	--color-border-hover: var(--pico--color-light-border-hover);
	--color-text-hover: var(--pico--color-light-text-hover);

	--color-active-bg: var(--pico--color-light-bg-hover);
	--color-active-border: var(--pico--color-light-border-hover);
	--color-active-text: var(--pico--color-light-text-hover);

	--color-active-border-hover: var(--pico--color-light-border-hover);
	--color-active-text-hover: var(--pico--color-light-text-hover);
}

.pico--menu-link {
	--color-bg-hover: var(--pico--color-light-bg-hover);
	--color-border-hover: var(--pico--color-light-border-hover);
	--color-text-hover: var(--pico--color-light-text-hover);

	--color-active-bg: var(--pico--color-light-bg-hover);
	--color-active-border: var(--pico--color-light-border-hover);
	--color-active-text: var(--pico--color-light-text-hover);

	--color-active-border-hover: var(--pico--color-light-border-hover);
	--color-active-text-hover: var(--pico--color-light-text-hover);
}
