.pico--alert {
	--color-body-border: var(--color-slate-300);

	--color-info-border: var(--color-blue-200);
	--color-info-bg: var(--color-blue-50);
	--color-info-text: var(--color-blue-900);
	--color-info-clickable-hover-bg: var(--color-blue-200);

	--color-success-border: var(--color-green-500);
	--color-success-bg: var(--color-green-100);
	--color-success-text: var(--color-green-900);
	--color-success-clickable-hover-bg: var(--color-green-200);

	--color-warning-border: var(--color-amber-500);
	--color-warning-bg: var(--color-amber-100);
	--color-warning-text: var(--color-amber-900);
	--color-warning-clickable-hover-bg: var(--color-amber-200);

	--color-error-border: var(--color-red-500);
	--color-error-bg: var(--color-red-100);
	--color-error-text: var(--color-red-900);
	--color-error-clickable-hover-bg: var(--color-red-200);

	--color-neutral-border: var(--color-slate-300);
	--color-neutral-bg: var(--color-slate-100);
	--color-neutral-text: var(--color-slate-600);
	--color-neutral-clickable-hover-bg: var(--color-slate-200);

	--color-subtle-border: var(--color-slate-100);
	--color-subtle-bg: var(--color-slate-50);
	--color-subtle-text: var(--color-slate-400);
	--color-subtle-clickable-hover-bg: var(--color-slate-100);
}
