/**
 * Here is a color definition so it's easy to swap out colors.
 */
:root {
	/**
	 * Primary is meant for an aggressive color display, like CTA buttons,
	 * or important things on UI.
	 */
	--pico--color-primary-bg-hover: var(--color-blue-500);
	--pico--color-primary-bg: var(--color-blue-600);
	--pico--color-primary-border-hover: var(--color-blue-600);
	--pico--color-primary-border: var(--color-blue-700);
	--pico--color-primary-shadow-hover: var(--color-sky-400);
	--pico--color-primary-shadow: var(--color-sky-200);
	--pico--color-primary-text-hover: var(--color-blue-100);
	--pico--color-primary-text: var(--color-blue-100);

	/**
	 * Secondary is meant for a less aggressive color display, like secondary
	 * buttons, or less important things on UI.
	 */
	--pico--color-secondary-bg-hover: var(--color-green-500);
	--pico--color-secondary-bg: var(--color-green-600);
	--pico--color-secondary-border-hover: var(--color-green-600);
	--pico--color-secondary-border: var(--color-green-700);
	--pico--color-secondary-shadow-hover: var(--color-sky-400);
	--pico--color-secondary-shadow: var(--color-sky-200);
	--pico--color-secondary-text-hover: var(--color-green-100);
	--pico--color-secondary-text: var(--color-green-100);

	/**
	 * Danger is meant for a warning color display, like delete buttons,
	 * or dangerous things on UI.
	 */
	--pico--color-danger-bg-hover: var(--color-red-400);
	--pico--color-danger-bg: var(--color-red-500);
	--pico--color-danger-border-hover: var(--color-red-500);
	--pico--color-danger-border: var(--color-red-600);
	--pico--color-danger-shadow-hover: var(--color-sky-400);
	--pico--color-danger-shadow: var(--color-sky-200);
	--pico--color-danger-text-hover: var(--color-red-100);
	--pico--color-danger-text: var(--color-red-100);

	/**
	 * Danger light is meant for a warning color display, like delete buttons,
	 * or dangerous things on UI.
	 */
	--pico--color-danger-light-bg-hover: "transparent";
	--pico--color-danger-light-bg: "transparent";
	--pico--color-danger-light-border-hover: var(--color-red-500);
	--pico--color-danger-light-border: var(--color-red-600);
	--pico--color-danger-light-shadow-hover: var(--color-sky-400);
	--pico--color-danger-light-shadow: var(--color-sky-200);
	--pico--color-danger-light-text-hover: var(--color-red-800);
	--pico--color-danger-light-text: var(--color-red-500);

	/**
	 * Subtle is meant for a subtle color display, like ghost buttons,
	 * or less important things on UI.
	 */
	--pico--color-subtle-bg-hover: var(--color-blue-200);
	--pico--color-subtle-bg: var(--color-blue-100);
	--pico--color-subtle-border-hover: var(--color-blue-400);
	--pico--color-subtle-border: var(--color-blue-300);
	--pico--color-subtle-shadow-hover: var(--color-blue-400);
	--pico--color-subtle-shadow: var(--color-blue-200);
	--pico--color-subtle-text-hover: var(--color-blue-600);
	--pico--color-subtle-text: var(--color-blue-500);

	/**
	 * Light is meant for a variant of subtle which is less distracting.
	 */
	--pico--color-light-bg-hover: var(--color-blue-50);
	--pico--color-light-bg: rgba(255, 255, 255, 0);
	--pico--color-light-border-hover: var(--color-blue-300);
	--pico--color-light-border: var(--color-blue-500);
	--pico--color-light-shadow-hover: var(--color-blue-400);
	--pico--color-light-shadow: var(--color-blue-200);
	--pico--color-light-text-hover: var(--color-blue-600);
	--pico--color-light-text: var(--color-blue-500);

	/**
	 * Neutral is mean for gray-ish, less distracting colors.
	 */
	--pico--color-neutral-bg-hover: var(--color-slate-200);
	--pico--color-neutral-bg: var(--color-slate-100);
	--pico--color-neutral-border-hover: var(--color-slate-400);
	--pico--color-neutral-border: var(--color-slate-300);
	--pico--color-neutral-shadow-hover: var(--color-slate-400);
	--pico--color-neutral-shadow: var(--color-slate-200);
	--pico--color-neutral-text-hover: var(--color-slate-600);
	--pico--color-neutral-text: var(--color-slate-500);
}

.color-primary {
	--color-bg-hover: var(--pico--color-primary-bg-hover);
	--color-bg: var(--pico--color-primary-bg);
	--color-border-hover: var(--pico--color-primary-border-hover);
	--color-border: var(--pico--color-primary-border);
	--color-shadow-hover: var(--pico--color-primary-shadow-hover);
	--color-shadow: var(--pico--color-primary-shadow);
	--color-text-hover: var(--pico--color-primary-text-hover);
	--color-text: var(--pico--color-primary-text);
}

.color-secondary {
	--color-bg-hover: var(--pico--color-secondary-bg-hover);
	--color-bg: var(--pico--color-secondary-bg);
	--color-border-hover: var(--pico--color-secondary-border-hover);
	--color-border: var(--pico--color-secondary-border);
	--color-shadow-hover: var(--pico--color-secondary-shadow-hover);
	--color-shadow: var(--pico--color-secondary-shadow);
	--color-text-hover: var(--pico--color-secondary-text-hover);
	--color-text: var(--pico--color-secondary-text);
}

.color-danger {
	--color-bg-hover: var(--pico--color-danger-bg-hover);
	--color-bg: var(--pico--color-danger-bg);
	--color-border-hover: var(--pico--color-danger-border-hover);
	--color-border: var(--pico--color-danger-border);
	--color-shadow-hover: var(--pico--color-danger-shadow-hover);
	--color-shadow: var(--pico--color-danger-shadow);
	--color-text-hover: var(--pico--color-danger-text-hover);
	--color-text: var(--pico--color-danger-text);
}

.color-danger-light {
	--color-bg-hover: var(--pico--color-danger-light-bg-hover);
	--color-bg: var(--pico--color-danger-light-bg);
	--color-border-hover: var(--pico--color-danger-light-border-hover);
	--color-border: var(--pico--color-danger-light-border);
	--color-shadow-hover: var(--pico--color-danger-light-shadow-hover);
	--color-shadow: var(--pico--color-danger-light-shadow);
	--color-text-hover: var(--pico--color-danger-light-text-hover);
	--color-text: var(--pico--color-danger-light-text);
}

.color-light {
	--color-bg-hover: var(--pico--color-light-bg-hover);
	--color-bg: var(--pico--color-light-bg);
	--color-border-hover: var(--pico--color-light-border-hover);
	--color-border: var(--pico--color-light-border);
	--color-shadow-hover: var(--pico--color-light-shadow-hover);
	--color-shadow: var(--pico--color-light-shadow);
	--color-text-hover: var(--pico--color-light-text-hover);
	--color-text: var(--pico--color-light-text);
}

.color-subtle {
	--color-bg-hover: var(--pico--color-subtle-bg-hover);
	--color-bg: var(--pico--color-subtle-bg);
	--color-border-hover: var(--pico--color-subtle-border-hover);
	--color-border: var(--pico--color-subtle-border);
	--color-shadow-hover: var(--pico--color-subtle-shadow-hover);
	--color-shadow: var(--pico--color-subtle-shadow);
	--color-text-hover: var(--pico--color-subtle-text-hover);
	--color-text: var(--pico--color-subtle-text);
}

.color-neutral {
	--color-bg-hover: var(--pico--color-neutral-bg-hover);
	--color-bg: var(--pico--color-neutral-bg);
	--color-border-hover: var(--pico--color-neutral-border-hover);
	--color-border: var(--pico--color-neutral-border);
	--color-shadow-hover: var(--pico--color-neutral-shadow-hover);
	--color-shadow: var(--pico--color-neutral-shadow);
	--color-text-hover: var(--pico--color-neutral-text-hover);
	--color-text: var(--pico--color-neutral-text);
}
