.Calendar {
    user-select: none;
    border: 1px solid;
    border-color: var(--mantine-color-gray-4);
}

.ControlsPrefix {
    border-bottom: 1px solid;
    border-color: var(--mantine-color-gray-4);
}

.Controls {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
}

.ControlsLeft {
}

.ControlsMiddle {
    justify-content: center;
}

.ControlsRight {
    justify-content: end;
}

.ControlsSuffix {
    border-top: 1px solid;
    border-color: var(--mantine-color-gray-4);
}

.Header {
    background-color: var(--mantine-color-gray-0);
    font-weight: bold;
    height: 3em;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
}
