.MonthRow {
    border-top: 1px solid;
    border-color: var(--mantine-color-gray-4);

    &:first-child {
        border-top: none;
    }
}

.MonthCell {
    padding: 3rem 2rem;

    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;

    border-right: 1px solid;
    border-color: var(--mantine-color-gray-4);

    &:last-child {
        border-right: none;
    }

    &:hover {
        background-color: var(--mantine-color-gray-1);
    }
}

.CurrentMonth {
    font-weight: bold;
    background-color: var(--mantine-color-gray-0);
}
