.pico--value-of {
	--color-bg: var(--color-blue-50);
	--color-border: var(--color-blue-100);
	--color-hover-bg: var(--color-blue-100);
	--color-hover-border: var(--color-blue-300);

	--label-color-text: var(--color-slate-600);
	--label-color-border: var(--color-blue-200);
	--label-color-hover-border: var(--color-blue-200);

	--inline-label-color-text: var(--color-slate-600);
	--inline-value-color-text: var(--color-slate-800);
}
