.pico--badge {
	--color-bg: var(--pico--color-subtle-bg);
	--color-border: var(--pico--color-subtle-border);
	--color-text: var(--pico--color-subtle-text);

	--color-active-bg: var(--pico--color-subtle-variant-bg);
	--color-active-border: var(--pico--color-subtle-variant-border);
	--color-active-text: var(--pico--color-subtle-variant-text);
	--color-active-shadow: var(--pico--color-subtle-variant-shadow);
}
