.Link {
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 2.75em;
    padding-left: var(--mantine-spacing-xs);
    padding-right: var(--mantine-spacing-xs);
    text-decoration: none;
    font-weight: 400;
    font-size: var(--mantine-font-size-sm);
    color: var(--mantine-color-black);
    border-bottom: 1px solid;
    border-bottom-color: var(--mantine-color-gray-5);

    &:hover {
        border-bottom: 2px solid;
        border-bottom-color: var(--mantine-color-blue-6);
    }
}

.LinkActive {
    border-bottom: 1px solid;

    &, &:hover {
        font-weight: 600;
        border-bottom: 2px solid;
        border-bottom-color: var(--mantine-color-blue-5);
    }
}
